label {
	display: block;
	font-size: 16px;
}
.input-group {
	margin-bottom: 30px;

	p {
		margin: 0 0 5px;
		font-size: 13px;
		color: #888;
	}
}
.right {
	position: absolute;
	top: 20px;
	right: 20px;
}
.space {
	margin-top: 20px;
}
.tax-info,
.result {
	float: left;
	margin-right: 20px;
}
.tax-info {
	background-color: lightgray;
	padding: 0 20px 20px;
}
.result {
	padding: 0 20px 20px;
	background-color: gold;
}
.brackets {
	float: right;
	font-size: 13px;

	ul {
		list-style: none;
		padding-left: 50px;
	}
	.bracket-item {
		position: relative;
		margin-bottom: 10px;
	}
	.rate,
	.single,
	.joint {
		display: block;
	}
	.rate {
		position: absolute;
		top: 2px;
		left: -40px;
	}
}